* {
    margin: 0;
    padding: 0;
}

#month {
    font-size: 32px;
    margin: 10px 0px 0px 10px;
}

.year {
    color: crimson;
}

#weekdays {
    margin: 0;
    padding: 10px 0px 0px 10px;
}

#weekdays .weekday {
    margin-right: 7px;
}

#weekdays li {
    display: inline-block;
    border: 1px solid transparent;
    margin-right: -1px;
    width: 10%;
    font-size: 18px;
    text-align: right;
}

.weekend {
    background-color: rgba(128, 128, 128, 0.2);
}

.weekend.dark {
    background-color: rgba(128, 128, 128, 0.6);
}

.weekend .date {
    color: grey;
}

#days {
    margin: 0;
    padding: 5px 0px 0px 10px;
}

#days li {
    display: inline-block;
    border: 1px solid lightgray;
    width: 10%;
    height: 60px;
    font-size: 16px;
    text-align: center;
    margin-bottom: -5px;
    margin-right: -1px;
}

#days .date {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    padding-top: 5px;
}

#days .active {
    background-color: crimson;
    border-radius: 50%;
    height: 24px;
    color: white;
}

#days .n-a {
    color: grey;
    opacity: 0.7;
}

#days .icon {
    margin: 10px 0px 0px 8px;
    float: left;
    background-image: url("../icons/holiday-icon.png");
    background-size: cover;
    height: 20px;
    width: 20px;
}

#days .caption {
    display: none;
    background-color: rgba(51,51,51,0.6);
    position: absolute;
    color: #f90;
    font-weight: bold;
    line-height: 1.1em;
    width: 500px;
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
    border-radius: 10px;
}

#days .icon:hover + .caption {
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
}

#theme:hover {
    color: grey;
}